[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
"autopep8" = "*"


[packages]

requests = ">=2.11.1"
python-telegram-bot = "*"
tweepy = ">=3.5.0"
apscheduler = "==3.0.0"
pyrebase = "*"


[requires]

python_version = "3.6"
