[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.22.0"
pyrebase4 = ">=4.3.0"
apscheduler = ">=3.6.3"
beautifulsoup4 = ">=4.8.2"
loguru = "*"

[dev-packages]
pylint = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
