[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = ">=2.18.0"
python-telegram-bot = "*"
tweepy = ">=3.5.0"


[requires]

python_version = "3.6"
